body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  padding: 10px 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.navArea {
  display: flex;
  justify-content: space-between;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: right;
  padding-right: 20px;
  margin-top: 5px;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 16px;
}

.banner {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

@media (max-width: 400px) {
  .banner-image {
    height: 50vh;
  }
  .wechatNumber {
    font-size: 18px;
    cursor: pointer;   
  }
}


.banner-image {
  width: 100%;
  height: auto;
}

.banner-text {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
}

.banner-text h1 {
  font-size: 48px;
  margin: 0;
}

.banner-text p {
  font-size: 24px;
}

.logo-image {
  width: 10%;
  margin-left: 20px;
}

.wechat {
  background-color: orange;
  width: 200px;
  height: 50px;
  margin-left: 220px;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}

.wechatNumber {
  font-size: 18px;
  cursor: pointer;
  
}

.aboutUs {
  display: flex;
  margin-right: 50px;
  margin-bottom: 40px;
}
.aboutUsArea {
  margin-left: 100px;
}

.aboutUsTitle {
  margin-top: 40px;
  font-size: 40px;
}

.aboutUsContent {
  margin-top: 20px;
  color: grey;
  font-size: 20px;
}
.introduction {
  margin-left: 40px;
  width: 50vw;
  height: auto;
}
.service-introduction-container {
  background-color: rgba(0, 0, 0, 0.05);
  padding-top: 20px;
  padding-bottom: 100px;
}
.service-introduction {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.05);
}

.serviceIntroductionTitle {
  margin-top: 50px;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 20px;
}

.serviceIntroductionContent {
  width: 90%;
  justify-content: center;
  line-height: 1.5;
  text-align: center;
}

.add-contact {
  margin-top: 40px;
  background-color: orange;
  border-radius: 4px;
  margin-bottom: 50px;
}

.add-contact-txt-area {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 20px;
  margin-right: 20px;
  color: white;
}

.add-contact-txt {
  cursor: pointer;
}

.know-more {
  margin-top: 40px;
  display: flex;
  margin-bottom: 40px;
}

.know-more-info-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}

.logo-image-bottom {
  width: 70%;
  height: 35%;
}

.logo-image-bottom-area {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.know-more-info {
  padding-left: 40px;
  border-left: 0.5px solid rgb(108, 99, 99);
  width: 15%;
  line-height: 1.5;
}

.contact-method {
  margin-left: 200px;
}

.contact-method-title {
  font-size: 20px;
  font-weight: bold;
}

.contact-wechat,
.contact-qq,
.contact-email {
  margin-top: 20px;
}

.contact-qrcode {
  width: 40%;
}

.qrcodeArea {
  display: flex;
}

.qrcodeText {
  margin-top: 20px;
  margin-left: 30px;
}

.contact-us-text {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}

.scan-text {
  color: grey;
}

.wechat-qrcode {
  margin-top: 30px;
  width: 150px;
}

.qq-qrcode-text,
.wechat-qrcode-text {
  color: grey;
}

.wechat-qrcode-text {
  margin-bottom: 10px;
}

.qq-qrcode {
  width: 150px;
}

.qrcodeRightArea {
  width: 100%;
  border-bottom: 0.5px solid rgb(200, 200, 200);
}

.afterSales {
  display: flex;
  justify-content: center;
}

.afterSalesText {
  margin-top: 100px;
}

.afterSalesTitle {
  font-size: 40px;
  font-weight: bold;
}

.afterSalesContent {
  margin-top: 15px;
  font-size: 20px;
  color: grey;
  margin-left: -10px;
}

.serviceArea {
  margin-left: 100px;
  margin-right: 100px;
  display: flex;
  margin-top: 30px;
  margin-bottom: 70px;
}

.contact-service {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-right: 50px;
}

.custom-icon {
  font-size: 50px;
  color: orange;
}

.serviceText {
  width: 300px;
}

.serviceTitle {
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: bold;
}

.famousUniversityArea {
  display: flex;
  background-color: rgb(200, 200, 200, 0.15);
}

.famousUniversity {
  width: 50%;
}

.famousUniArea {
  margin-top: 100px;
  margin-left: 50px;
  margin-right: 50px;
}

.famousUniTitle {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 30px;
}

.famousUniText {
  font-size: 20px;
}

.specialService {
  display: flex;
}

.specialServiceImg {
  width: 50%;
}

.specialServiceArea {
  background-color: rgb(200, 200, 200, 0.2);
  flex: 1;
  padding-left: 50px;
  padding-bottom: 100px;
}

.specialServiceTitle {
  margin-top: 80px;
  font-size: 40px;
  font-weight: bold;
}

.specialServiceText {
  font-size: 20px;
  margin-top: 40px;
}

.customerEvaluationArea {
  background-color: rgb(200, 200, 200, 0.05);
  padding-bottom: 100px;
}

.customerEvaluation {
  display: flex;
  flex: 1;
  text-align: center;
  justify-content: center;
  padding-top: 100px;
  margin-bottom: 30px;
}
.customerEvaluationText {
  font-size: 35px;
  font-weight: bold;
  margin-bottom: 10px;
}
.customerEvaluationContent {
  font-size: 18px;
  color: grey;
}

.evalutionArea {
  display: flex;
}

.evaluationContainer {
  position: relative;
  text-align: center;
  justify-content: center;
  width: 30%;
  margin: 0 20px;
}
.evaluationCustomer {
  font-weight: bold;
}
.evaluationBackground {
  background-color: white;
  border-radius: 4px;
  margin-bottom: 40px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.circle {
  position: absolute;
  top: -25px;
  left: 45%;
  width: 50px; /* 圆的直径 */
  height: 50px; /* 圆的直径 */
  background-color: orange; /* 圆的颜色 */
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 60px;
}
.evaluationText {
  font-size: 18px;
  color: grey;
  padding: 60px 0;
  padding-bottom: 30px;
  margin: 0 20px;
}
.circle-icon {
  color: white;
  text-align: center;
  padding-bottom: 40px;
}
.cardRow1 {
  display: flex;
  padding: 20px 0;
}
.essayCard {
  width: 30%;
  margin-right: 20px;
  background-color: white;
  padding: 30px;
  border-left: 3px solid orange;
}
.essayTitle {
  font-weight: bold;
  margin-bottom: 10px;
  font-size: 17px;
}
.essayContent {
  font-size: 17px;
}

@media (max-width: 768px) {
  .years {
    padding: 0 40px;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
  }

  .yearsSolveProblems {
    margin-top: 50px;
    font-size: 18px;
    padding: 0 60px;
  }
  .banner-text {
    font-size: 15px;
    padding: 0 40px;
    padding-top: 60px;
  }
  .wechat {
    background-color: orange;
    margin: 0 120px;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
  }
  .wechatNumber {
    font-size: 18px;
    cursor: pointer;
  }

  .banner-image {
    height: 90vh;
    width: 100vh;
  }
  .logo-image {
    width: 0;
    margin-left: 20px;
  }

  .aboutUs {
    width: 100vw;
    display: flex;
    flex-direction: column;
    margin-left: -50px;
    margin-right: -30px;
    margin-top: -60px;
  }
  .introduction {
    padding-top: 50px;
    padding-left: 50px;
    width: 80vw;
  }
  .cardRow1 {
    display: flex;
    flex-direction: column;
  }
  .essayCard {
    width: 80vw;
    margin-right: 20px;
    background-color: white;
    padding: 30px;
    border-left: 3px solid orange;
    margin-bottom: 20px;
  }
  .specialService {
    display: flex;
    flex-direction: column;
  }
  .specialServiceImg {
    width: 100%;
  }
  .evalutionArea {
    display: flex;
    flex-direction: column;
  }
  .evaluationContainer {
    width: 90%;
  }
  .evaluationCustomer {
    display: none;
  }
  .famousUniversityArea {
    display: flex;
    flex-direction: column;
  }
  .famousUniversity {
    width: 100%;
    margin-top: 30px;
  }
  .serviceArea {
    display: flex;
    flex-direction: column;
  }
  .contact-service {
    margin-right: 0;
  }
  .qrcodeArea {
    display: flex;
    flex-direction: column;
  }
  .contact-qrcode {
    width: 100%;
  }
  .contact-us-text {
    font-size: 30px;
  }
  .wechat-qrcode,
  .qq-qrcode {
    width: 80%;
  }
  .know-more {
    display: flex;
    flex-direction: column;
  }
  .know-more-info {
    width: 80%;
  }
  .contact-method {
    margin-top: 20px;
    margin-left: 40px;
  }
  .customerEvaluation {
    padding-top: 50px;
    .customerEvaluationText {
      font-size: 30px;
    }
  }
  .serviceIntroductionContent {
    text-align: center;
  }
}
