.cases-out {
  position: relative;
  background-image: url("../images/caces-1.jpg");
  width: 100%;
  height: 400px;
  background-size: cover;
}
.qrcodeArea-contact-page {
  position: absolute;
  display: flex;
  top: 0;
}
.qrcodeRightArea-contact {
  width: 100%;
}

.banner-contact {
  position: relative;
  width: 100%;
  height: 100vh;
}

@media (max-width: 768px) {
  .qrcodeArea-contact-page {
    display: flex;
    flex-direction: column;
  }
  .cases-out {
    display: none;

  }
}
