a {
  text-decoration: none; /* 取消下划线装饰 */
  color: inherit; /* 继承父元素颜色 */
  cursor: pointer; /* 设置光标类型为指针 */
  background-color: transparent; /* 设置背景颜色为透明 */
}

a:hover {
  color: inherit; /* 设置鼠标悬停时继承父元素颜色 */
}
html {
  scroll-behavior: smooth;
  /* 启用平滑滚动效果 */
}
.hidden {
  display: none;
}

.real-case-out {
  position: relative;
  background-image: url("../images/realcase/realcase-background-img.jpg");
  width: 100%;
  height: 400px;
  background-size: cover;
}
.real-case-content {
  display: flex;
}
.real-case-text {
  width: 800vh;
  border: solid;
  margin: 50px;
  font-size: 22px;
  font-weight: 300;
  text-indent: 2em;
  line-height: 2;
}
.real-case-img {
  margin: 50px;
  width: 800vh;
  height: 50vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
}
.real-case-returnTop {
  display: flex;
  justify-content: center;
  font-size: 18px;
}
@media (max-width: 768px) {
  .real-case-out {
    position: relative;
    background-image: url("../images/realcase/realcase-background-img.jpg");
    width: 100%;
    height: 600rem;
    background-size: cover;
  }
  .real-case-content {
    display: block;
    width: 100%;
    box-sizing: border-box;
  }
  .real-case-text {
    box-sizing: border-box;
    margin: 0 auto;
    width:100%;
    border: none;
    padding: 40rem;    
    font-size: 28rem;
    font-weight: 300;
    text-indent: 2em;
    line-height: 2;
  }
  .real-case-img {  
   width: 100%;
   box-sizing: border-box; 
   margin: 0;
   padding: 60rem;
    
  }
  .real-case-returnTop {
    display: flex;
    justify-content: center;
    font-size: 40rem;
  }
}
