a {
  text-decoration: none; /* 取消下划线装饰 */
  color: inherit; /* 继承父元素颜色 */
  cursor: pointer; /* 设置光标类型为指针 */
  background-color: transparent; /* 设置背景颜色为透明 */
}

a:hover {
  color: inherit; /* 设置鼠标悬停时继承父元素颜色 */
}
html {
  scroll-behavior: smooth;
  /* 启用平滑滚动效果 */
}
.hidden {
  display: none;
}

.cases-out {
  position: relative;
  background-image: url("../images/case/case-background-img.jpg");
  width: 100%;
  height: 60vh;
  background-size: cover;
  margin: 0 auto;
}

.cases-features {
  color: #ffff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 38px;
  font-weight: 600;
}

.cases-menu {
  display: flex;
  line-height: 60px;
  vertical-align: baseline;
  justify-content: center;
  font-size: 26px;
}
.cases-menu:hover {
  cursor: pointer;
}

.cases-menu div {
  cursor: pointer;
  margin: 40px;
}

.cases-context {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
}

.cases-context > div {
  width: 400px;
  height: 200px;
  margin: 20px;
  margin-left: 50px;
  margin-top: 40px;
  border-radius: 40px;
  background-size: cover;
  background-position: center center;
  overflow: hidden;
}
.caces-title {
  position: absolute;
  font-size: 22px;
  font-weight: 200;
}

.cases-engineering-1 {
  display: flex;
  background-size: cover;
  justify-content: center;
  align-items: center;
}

.cases-engineering-1-hover {
  display: flex;
  width: 360px;
  height: 160px;
  background-color: rgba(0, 0, 0, 0.3);
  border: rgba(87, 104, 150, 0.8) solid 20px;
  opacity: 0;
  transition: opacity 0.5s ease;
  align-items: center;
  font-size: 22px;
  color: white;
  padding: 0 40px;
  justify-content: center;
  border-radius: 40px;
}

.cases-engineering-1-hover:hover {
  opacity: 1;
}
hr {
  margin: 100px;
}

.know-more-text,
.contact-method {
  font-size: 15px;
}
@media (max-width: 768px) {
  .cases-out {
    position: relative;
    background-image: url("../images/case/case-background-img.jpg");
    width: 100%;
    height: 600rem;
    background-size: cover;
    margin: 0 auto;
  }
  .cases-features {
    color: #ffff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 38rem;
    font-weight: 600;
    width: 100%;
  }
  .cases-menu {
    line-height: 1.5;
    vertical-align: baseline;
    font-size: 28rem;
    box-sizing: border-box;
    justify-content: space-around;
  }
  .cases-context > div {
    width: 600rem;
    height: 370rem;
    margin: 40rem;
    margin-top: 60rem;
    border-radius: 60rem;
    background-size: cover;
    background-position: center center;
    overflow: hidden;
  }
  .caces-title {
    position: absolute;
    font-size: 36rem;
    font-weight: 200;
  }
  .cases-engineering-1-hover {
    width: 540rem;
    height: 290rem;
    background-color: rgba(0, 0, 0, 0.3);
    border: rgba(87, 104, 150, 0.8) solid 40rem;
    opacity: 0;
    transition: opacity 0.5s ease;
    align-items: center;
    font-size: 30rem;
    color: white;
    padding: 0 40rem;
    justify-content: center;
    border-radius: 60rem;
  }
  hr {
    margin: 0;
    margin-top: 80rem;
    margin-bottom: 80rem;
  }
}
